Executavel/Jogo.pck filter=lfs diff=lfs merge=lfs -text
Projeto/.import/Musicas.wav-a09a90c0d47818ea70c358c1e4cf9877.sample filter=lfs diff=lfs merge=lfs -text
Projeto/Sons/Musicas.wav filter=lfs diff=lfs merge=lfs -text
